nav {
	color: white;
	background-color: orange;
}
a{
	text-decoration: none;
	color: black;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: orange;
}

#logo {
	text-align: center;
	margin: 0;
}

h1, h2{
	color: #fff;
}

nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color:#32673f;
}

body {
	background-colorr: #fff;
	color: #999;
}

nav {
	background: blue;
}

header {
	background: red;
	border-color: white;
}
