/* Created By Joseph Phan*/
/**********************************
GENERAL
**********************************/
body {
	font-family: 'Open Sans', sans-serif;
}
img {
	max-width: 100%;
}
h3 {
	margin: 0 0 1em 0;
}
.link {
	color: blue;
}
.container ul li {
	display: inline-block;
}
.main-menu-icon {
	margin: 0;
	padding: 0;
	list-style: none;	
}
#main-menu li{
	float: left;
	width:25%;
	height:25%;
	margin: 2.5%;
	max-height: 500px;
}
#main-menu img {
	/*box-shadow: 10px 10px 5px #888888*/
	border:2px solid #021a40;
}
#main-menu img:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
#main-menu li a p{
	margin:0;
	padding:5%;
	font-size:1em;
}
#main-menu h2{
	clear:both;
	padding-top:50px;
}


/**********************************
WRAPPER
**********************************/
.full-page-wrap{
	min-height: 800px;
	height: 100vh;
	width:100%;
}
.container {
	text-align:center;
	/*padding:10px 15vw 0px 15vw;*/
	padding-left:0;
	display: block;
}

/**********************************
HEADER
**********************************/
header {
	float: left;
	margin 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

h1{
	text-align: right;
	font-family: 'Orbitron' sans-serif;
	font-size: 1.75em;
	color: black;
	font-weight: 800;
	line-height: 0.8em;
	padding: 5px 5px 0 0;
	position:fixed; top:25; right:2%; 
}

h2{
	text-align: center;
	font-family: 'Open Sans' sans-serif;
	margin: 15px 0;
	font-size: 3em;
	color: black;
	font-weight: normal;
	margin: -5px 0 0;
	
}
/**********************************
FOOTER
**********************************/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}
.social-icon {
	width: 30px;
	height: 30px;
	margin: 2.5px;
}
.footer-text {
	margin-bottom: 5px;
}
/*********************************
COLORS
*********************************/
body {
	background-color: #fff;
	color: #999;
}

nav {
	background: black;
}

nav {
	color: white;
	background-color: black;
}
a{
	text-decoration: none;
	color: black;
}
/**********************************
BACKGROUNDS
**********************************/
#main-menu {
	background: url("../img/quick-load/main-menu-background.jpg") no-repeat center 0;
	background-size: cover;
}
#page-about-me{
	background: url("../img/quick-load/about-background.jpg") no-repeat center 0;
	background-size: cover;
}
#page-my-experience{
	background: url("../img/quick-load/experience-background.png") no-repeat center 0;
	background-size: cover;
}
#page-contact-me{
	background: url("../img/quick-load/contact-background.jpg") no-repeat center 0;
	background-size: cover;
}

/**********************************
ANIMATION DELAY
**********************************/
.delay-100 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.delay-200 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.delay-400 {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.delay-600 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

/**********************************
GLOBAL
**********************************/
.clear { clear:both; }

.float-left { float:left; }
.float-right { float:right; }

.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }
.text-justify { text-align:justify; }

.bold { font-weight:bold; }
.italic { font-style:italic; }
.underline { border-bottom:1px solid; }
.highlight { background:#ffc; }

.wrap { width:960px;margin:0 auto; }

.img-left { float:left;margin:4px 10px 4px 0; }
.img-right { float:right;margin:4px 0 4px 10px; }

.nopadding { padding:0; }
.noindent { margin-left:0;padding-left:0; }
.nobullet { list-style:none;list-style-image:none; }
